.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper :global(.ant-btn .anticon.anticon-loading) {
  position: absolute;
  right: 20px;
  top: 14px;
}

.tableWrapper :global(.ant-spin-container) {
  display: flex;
  flex-direction: column;
}

.table {
  border-radius: 0px;
  border: none;
}

.table :global(.ant-table table) {
  border-radius: 0px;
}

.table :global(.ant-table-thead) {
  border-radius: 0px;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5); */
}

.table :global(.ant-table-thead > tr:first-child > th:first-child > span) {
  border-left: 2px solid var(--blue-color);
  padding-left: 15px;
  width: 100%;
  text-align: left;
  line-height: 20px;
}

.table :global(.ant-table-thead > tr > th),
.table :global(.ant-table-thead > tr:first-child > th:first-child),
.table :global(.ant-table-thead > tr:first-child > th:last-child) {
  border-radius: 0px;
  /* background-color: var(--darker-dark-color); */
  background-color: var(--white-color);
  z-index: 100;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
}

.table :global(tbody.ant-table-tbody > tr) {
}

.table :global(tbody.ant-table-tbody > .ant-table-row:nth-child(odd)) {
}

.table :global(.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td),
.table :global(.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td),
.table :global(.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td),
.table :global(.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td) {
}

.table :global(.ant-table-thead > tr > th),
.table :global(.ant-table-tbody > tr > td) {
  height: 50px;
  padding: 0px;
  text-align: center;
  border-bottom: none;
}

.table :global(.ant-table-thead > tr > th) {
  font-size: 14px;
}

.table :global(.ant-table-tbody > tr > td) {
  font-size: 12px;
}

.table :global(.ant-table-thead > tr > th:first-child),
.table :global(.ant-table-tbody > tr > td:first-child) {
  padding-left: 15px;
  text-align: left;
}

.table :global(.ant-table-thead > tr:first-child > th:first-child) {
  padding-left: 0px;
}

.table :global(table) {
  table-layout: fixed;
}

.table
  :global(.ant-table-thead
    > tr
    > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover) {
}

/* col width related */
.table :global(.ant-table-tbody > tr > td) {
  word-wrap: break-word;
  word-break: break-all;
}

/* no Data */
.table :global(.ant-table-placeholder) {
  border: none;
}

.table :global(.ant-table.ant-table-empty .ant-table-body) {
}

.table .noDataWrapper {
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.noDataWrapper .noDataImgWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.noDataWrapper .noDataImg {
  width: 84px;
  height: 109px;
}

.noDataWrapper .noDataText {
  margin: 20px 0px 30px 0px;
}

.rateDown {
  font-style: normal;
  color: var(--red-color);
}

.rateUp {
  font-style: normal;
  color: var(--green-color);
}

.buyBtn:global(.ant-btn) {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
  height: auto;
  font-size: 12px;
  color: var(--blue-color);
  letter-spacing: 0;
}

.buyBtn:global(.ant-btn > span) {
  text-decoration: underline;
}

.buyBtn:global(.ant-btn:hover),
.buyBtn:global(.ant-btn:focus),
.buyBtn:global(.ant-btn:active) {
  color: var(--blue-color);
}

.buyBtn:global(.ant-btn::after) {
  display: none;
  box-shadow: none;
}

/* pagination */
.pagination {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.pagination
  :global(.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon),
.pagination
  :global(.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon) {
  font-size: 14px;
  vertical-align: 0px;
}

.pagination
  :global(.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis),
.pagination
  :global(.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis) {
  font-size: 12px;
}

.pagination :global(.ant-pagination-total-text) {
  color: var(--black-color);
}

.cancelBtn:global(.ant-btn) {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
  height: auto;
  font-size: 12px;
  color: var(--blue-color);
  letter-spacing: 0;
  padding-left: 0px !important;
  padding-right: 8px;
}

.cancelBtn:global(.ant-btn > span) {
  text-decoration: underline;
}

.cancelBtn:global(.ant-btn:hover),
.cancelBtn:global(.ant-btn:focus),
.cancelBtn:global(.ant-btn:active) {
  color: var(--blue-color);
}

.cancelBtn:global(.ant-btn::after) {
  display: none;
  box-shadow: none;
}

.wrapper :global(.ant-btn .anticon.anticon-loading) {
  position: absolute;
  right: 18px;
  top: 2px;
}

.buy {
  font-style: normal;
  color: var(--green-color);
}

.sell {
  font-style: normal;
  color: var(--red-color);
}
